# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter checkpoints
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Data files (jangan upload data ke GitHub)
*.xlsx
*.xls
*.csv

# OS files
.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/

# Streamlit secrets
.streamlit/secrets.toml
